:root {
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-gray: hsl(0, 0%, 86%);
  --smokey-gray: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
}

@font-face {
  font-family: "Poppins-400i";
  src: url("./fonts/Poppins-Italic.ttf");
}

@font-face {
  font-family: "Poppins-700";
  src: url("./fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins-800i";
  src: url("./fonts/Poppins-ExtraBoldItalic.ttf");
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-gray);
}

.calculator {
  width: 550px;
  height: 430px;
  border-radius: 20px;
  border-bottom-right-radius: 150px;
  background-color: var(--white);
  padding: 50px;
}

.inputSection {
  display: flex;
}

.inputContainer {
  margin-right: 10px;
}

.invalidInputContainer {
  margin-right: 10px;
}

.inputContainer h2 {
  font-family: "Poppins-700";
  font-size: 14px;
  letter-spacing: 2px;
  color: var(--smokey-gray);
}

.invalidInputContainer h2 {
  font-family: "Poppins-700";
  font-size: 14px;
  letter-spacing: 2px;
  color: var(--light-red);
}

.inputContainer input {
  height: 60px;
  width: 100px;
  border: 1px solid var(--off-white);
  border-radius: 15px;
  font-family: "Poppins-700";
  font-size: 32px;
  color: var(--off-black);
  padding-left: 20px;
}

.invalidInputContainer input {
  height: 60px;
  width: 100px;
  border: 1px solid var(--light-red);
  border-radius: 15px;
  font-family: "Poppins-700";
  font-size: 32px;
  color: var(--off-black);
  padding-left: 20px;
}

.inputContainer input:focus {
  outline: none;
  border: 1px solid var(--purple);
}

.invalidInputContainer input:focus {
  outline: none;
  border: 1px solid var(--purple);
}

.inputContainer p {
  font-family: "Poppins-400i";
  font-size: 12px;
  color: var(--light-red);
}

.invalidInputContainer p {
  font-family: "Poppins-400i";
  font-size: 12px;
  color: var(--light-red);
}

.buttonSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttonSection hr {
  width: 100%;
  border: 1px solid var(--off-white);
}

.buttonSection button {
  border: none;
  border-radius: 100%;
  background-color: var(--purple);
  padding: 15px;
}

.buttonSection button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.buttonSection button:active {
  background-color: var(--off-black);
}

.outputSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.outputSection h1 {
  font-family: "Poppins-800i";
  font-size: 80px;
  color: var(--off-black);
  margin: -20px;
  margin-left: 0;
}

.outputSection span {
  color: var(--purple);
}

@media only screen and (max-width: 700px) {
  .calculator {
    width: 300px;
    padding: 20px;
  }

  .inputContainer {
    width: 200px;
  }

  .invalidInputContainer {
    width: 200px;
  }

  .inputContainer h2 {
    font-size: 12px;
  }

  .invalidInputContainer h2 {
    font-size: 12px;
  }

  .inputContainer input {
    width: 70px;
    margin-right: 5px;
    padding-left: 10px;
    font-size: 24px;
  }

  .invalidInputContainer input {
    width: 70px;
    margin-right: 5px;
    padding-left: 10px;
    font-size: 24px;
  }

  .inputContainer p {
    font-size: 12px;
  }

  .invalidInputContainer p {
    font-size: 12px;
  }

  .buttonSection {
    margin-top: 50px;
    justify-content: center;
  }

  .buttonSection button {
    position: absolute;
    padding: 10px;
  }

  .outputSection {
    margin-top: 40px;
  }

  .outputSection h1 {
    margin-top: 5px;
    font-size: 50px;
  }
}